<h1>Listing projects</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody id="project-form">
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td>
          <%= link_to 'Show', project, class: 'btn' %>
          <%= link_to 'Edit', edit_project_path(project), class: 'btn' %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Whoa, Are you sure?' }, :id => "delete-link", class: 'btn btn-danger delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'New Project', new_project_path %>
<br>
<%= paginate @projects %>
<br>

