<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<div id="tasks">

</div>

<p><%= link_to 'Create a New Task', new_project_task_path(@project) %> </p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<script>
  $(document).ready(function(){
    $("#tasks").load("/projects/<%= @project.id %>/tasks");
  });
</script>